html, body {
  margin: 0 0 0 0;
  width: 100%;
}

body {
    font-family: times;
    font-size: medium;
    color: blue;
}

#wrapper {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: center;
}

ul {
    color: black;
}

a:link {
    color: green;
}

a:visited {
    color: orange;
}

table {
    margin: 1px;
}

.movies {
    font-family: sans-serif;
}

.best {
    font-style: italic;
}
.cell-grid {
    width: 720px;
}    
.cell-row {
    width: 720px;
    display: table-row;
}
.cell {
    width: 240px;
    display: table-cell;
}
.profilebit {
  width: 720px;
  padding-bottom: 200px;
}
.profiletext {
    width: 460px;
}

.profileimage {
    width: 240px;
    float: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}