#header {
  width: 62.5em;
}

#content {
  width: 62.5em;
  margin:auto;
}

th, td {
  text-align: center;
}

.profile-text {
  max-width: 50em;
  float: left;
  overflow: auto;
}

.profile-image {
  width: 12.5em;
  float: right;
}

.float-clear {
  float: clear;
}
